<div class="col-12">
    <p-toast />
    <div class="card">
    <p-table [value]="products" dataKey="id" [style]="{ height: 'fit-content', 'margin-top': '10px','width':'100%' }" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)" responsiveLayout="stack" showGridlines>
        
        <ng-template #caption>
            <div class="flex justify-content-between align-items-center">
                <h3>Invoice Details</h3>
                <div class="flex align-items-center">
                    <p-button label="New" icon="pi pi-plus" class="mr-2" (click)="addParties()" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <input pInputText type="text" placeholder="Search keyword" (input)="onChangeOfPartiesInput($event)"/>
                    </p-iconfield>
                </div>
            </div>
        </ng-template>
        

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th>Name</th>
                <th>Category</th>
                <th>Credit(-)</th>
                <th>Debit(+)</th>
                <th>Balance Amt</th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td><span class="p-column-title">Name</span>{{ product.name }}</td>
                <td><span class="p-column-title">Category</span>{{ product.category }}</td>
                <td><span class="p-column-title">Credit(-)</span>{{product.invoiceAmount}}</td>
                <td><span class="p-column-title">Debit(+)</span>{{product.paymentAmount}}</td>
                <td>
                    <span class="p-column-title">Balance</span>
                    <span 
                        [ngStyle]="{ color: product.balance < 0 ? 'red' : 'inherit' }">
                        {{ product.balance | currency:'INR':'symbol':'1.2-2' }}
                    </span>
                  </td>
                <td><span class="p-column-title">Actions</span>
                    <p-button icon="pi pi-pencil" class="p-button-text p-button-sm mr-2" ></p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template #expandedrow let-product>
            <tr>
                <td colspan="100%">
                    <div class="p-3 expanded-content">

                        <!-- Invoice Details Table -->
                        <div class="mb-4">
                            <p-table [value]="product.invoices" dataKey="invoiceNo" responsiveLayout="stack">
                                <ng-template #caption>
                                    <div class="flex justify-content-between align-items-center">
                                        <h3>Invoice Details of {{ product.name }}</h3>
                                        <div class="flex align-items-center">
                                            <p-button label="Add Invoice" icon="pi pi-plus" class="mr-2" (click)="addInvoice(product.id)"/>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Invoice No</th>
                                        <th>Job No</th>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-invoice>
                                    <tr>
                                        <td><span class="p-column-title">Invoice No</span>{{ invoice.invoiceNo }}</td>
                                        <td><span class="p-column-title">Job No</span>{{ invoice.jobNo }}</td>
                                        <td><span class="p-column-title">Date</span>{{ invoice.date | date:'dd/MM/yyyy' }}</td>
                                        <td><span class="p-column-title">Description</span>{{ invoice.description }}</td>
                                        <td><span class="p-column-title">Amount</span>{{ invoice.amount | currency:'INR' }}</td>
                                        <td><span class="p-column-title">Actions</span>
                                            <p-button icon="pi pi-pencil" class="p-button-text p-button-sm mr-2" ></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="3">No invoices found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                        <!-- Payment Details Table -->
                        <div>
                            <p-table [value]="product.payments" dataKey="paymentNo" responsiveLayout="stack">
                                <ng-template #caption>
                                    <div class="flex justify-content-between align-items-center">
                                        <h3>Payment Details of {{ product.name }}</h3>
                                        <div class="flex align-items-center">
                                            <p-button label="Add Payment" icon="pi pi-plus" class="mr-2" (click)="addPayment(product.id)"/>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Payment No</th>
                                        <th>Date</th>
                                        <th>Payment Mode</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-payment>
                                    <tr>
                                        <td><span class="p-column-title">Payment No</span>{{ payment.paymentNo }}</td>
                                        <td><span class="p-column-title">Date</span>{{ payment.date | date:'dd/MM/yyyy' }}</td>
                                        <td><span class="p-column-title">Payment Mode</span>{{ payment.amount | currency:'INR' }}</td>
                                        <td><span class="p-column-title">Description</span>{{ payment.date | date:'dd/MM/yyyy' }}</td>
                                        <td><span class="p-column-title">Amount</span>{{ payment.amount | currency:'INR' }}</td>
                                        <td><span class="p-column-title">Actions</span>
                                            <p-button icon="pi pi-pencil"></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="3">No payments found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                </td>
            </tr>
        </ng-template>

    </p-table>
    </div>
</div>



<!-- Add/Edit Dialog for Products -->

<p-dialog header="Manage Product" [(visible)]="productDialogVisible" [modal]="true" [style]="{ width: '70%' }">
    <div class="card">
        <form [formGroup]="productForm" autocomplete="off">
            <div class="grid p-fluid mt-3">
                <div class="field col-12 md:col-6">
                    <p-floatlabel class="w-full">
                        <input pInputText id="party_name" formControlName="name" autocomplete="off" class="w-full" />
                        <label for="party_name">Party Name</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-dropdown 
                        formControlName="category" 
                        [options]="partiesCategory" 
                        optionLabel="name" 
                        optionValue="name"
                        placeholder="Select Category" 
                        class="w-full">
                    </p-dropdown>
                </div>
            </div>
        </form>
        <div class="flex justify-content-center">
            <p-button label="Cancel" severity="secondary" (click)="productDialogVisible = false" class="w-full md:w-auto"></p-button>
            <p-button label="Save" (click)="saveParties()" class="w-full md:w-auto"></p-button>
        </div>
    </div>
</p-dialog>

<!-- Add/Edit Dialog for Invoices -->

<p-dialog header="Manage Invoice" [(visible)]="invoiceDialogVisible" [modal]="true" [style]="{ width: '70%' }">
    <div class="card">
        <form [formGroup]="invoiceForm" autocomplete="off">
            <div class="grid p-fluid mt-3 justify-content-center">
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" formControlName="invoiceNo" class="w-full" />
                        <label for="on_label">Invoice Number</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on" class="w-full">
                        <p-datepicker formControlName="date" inputId="over_label" showIcon iconDisplay="input" class="w-full"/>
                        <label for="over_label">Invoice Date</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" formControlName="jobNo" class="w-full"/>
                        <label for="on_label">Job Number</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <p-inputnumber  mode="currency" inputId="currency-india" currency="INR" currencyDisplay="code" locale="en-IN" formControlName="amount" class="w-full"/>
                        <label for="on_label">Amount</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <textarea pTextarea id="over_label" rows="5" cols="30" style="resize: none" class="h-full" formControlName="description" class="w-full"></textarea>
                        <label for="on_label">Description</label>
                    </p-floatlabel>
                </div>
            </div>
        </form>
        <div class="flex justify-content-center">
            <p-button label="Cancel" severity="secondary" (click)="productDialogVisible = false" class="w-full md:w-auto"></p-button>
            <p-button label="Save" (click)="saveInvoice()" class="w-full md:w-auto"></p-button>
        </div>
    </div>
</p-dialog>

<!-- Add/Edit Dialog for Payments -->

<p-dialog header="Manage Payment" [(visible)]="paymentDialogVisible" [modal]="true" [style]="{ width: '70%' }">
    <div class="card">
        <form [formGroup]="paymentForm" autocomplete="off">
            <div class="grid p-fluid mt-3 justify-content-center">
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" formControlName="paymentNo" class="w-full" />
                        <label for="on_label">Payment Number</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on" class="w-full">
                        <p-datepicker formControlName="date" inputId="over_label" showIcon iconDisplay="input" class="w-full"/>
                        <label for="over_label">Payment Date</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                        <p-dropdown 
                        formControlName="paymentMode" 
                        [options]="paymentTypes" 
                        optionLabel="name" 
                        optionValue="name"
                        placeholder="Select Payment Mode" 
                        class="w-full">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <p-inputnumber  mode="currency" inputId="currency-india" currency="INR" currencyDisplay="code" locale="en-IN" formControlName="amount" class="w-full"/>
                        <label for="on_label">Amount</label>
                    </p-floatlabel>
                </div>
                <div class="field col-12 md:col-6">
                    <p-floatlabel variant="on">
                        <textarea pTextarea id="over_label" rows="5" cols="30" style="resize: none" class="h-full" formControlName="description" class="w-full"></textarea>
                        <label for="on_label">Description</label>
                    </p-floatlabel>
                </div>
            </div>
        </form>
        <div class="flex justify-content-center">
            <p-button label="Cancel" severity="secondary" (click)="productDialogVisible = false" class="w-full md:w-auto"></p-button>
            <p-button label="Save" (click)="savePayment()" class="w-full md:w-auto"></p-button>
        </div>
    </div>
</p-dialog>