/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";


.p-column-title {
	display: none;
}

@media screen and (max-width: 960px) {
	.p-datatable .p-column-title {
		display: block;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
}